*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'arial';
  box-sizing: border-box;
}
:root {
  --step--2: clamp(0.43rem, calc(0.38rem + 0.29vw), 0.72rem);
  --step--1: clamp(0.52rem, calc(0.44rem + 0.38vw), 0.90rem);
  --step-0: clamp(0.63rem, calc(0.53rem + 0.50vw), 1.13rem);
  --step-1: clamp(0.75rem, calc(0.62rem + 0.66vw), 1.41rem);
  --step-2: clamp(0.90rem, calc(0.73rem + 0.86vw), 1.76rem);
  --step-3: clamp(1.08rem, calc(0.86rem + 1.12vw), 2.20rem);
  --step-4: clamp(1.30rem, calc(1.01rem + 1.45vw), 2.75rem);
  /* --step-5: clamp(1.56rem, calc(1.18rem + 1.88vw), 3.43rem); */
  --step-5: clamp(2.56rem, calc(1.18rem + 2.4vw), 3.43rem);
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: black;
}
#header{
  width: 100%;
  height: 100vh;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: center;
}
.container{
  padding: 10px 10%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo{
  width: 300px;
}
nav ul li{ 
  display: inline-block;
  list-style: none;
  margin: 10px 10px;
}
nav ul li a{
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}
nav ul li a::after{
content: '';
width:0%;
height: 3px;
background: #ff004f;
position:absolute;
left: 0;
bottom: -6px;
transition: .5s;
}

nav ul li a:hover::after{
width: 100%;
}
.header-text{
  color: #ffffff;
  margin-top: 35vh;
  font-size: var(--step-2);
}
.header-text span{
  color: #ff004f;
}
/* -----------------about section----------------- */
#about{
  padding: 80px 100px;
  color: #ececec;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 35%;
}

.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}
.about-col-2{
  flex-basis: 60%;
}
.sub-title{
  font-size: var(--step-5);
  font-weight: 600;
  color: white;
}
.about-col-2{
 margin: 0 2%;
 font-size: 20px;
 padding-bottom: 20px;
 padding-top: 20px;
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
margin-right: 50px;
font-size: 18px;
font-weight: 500;
cursor: pointer;
position: relative;
}
.tab-links::after{
content: '';
width:0%;
height: 3px;
background: #ff004f;
position: absolute;
left: 0;
bottom: -8px;
transition: .5s;
}
.tab-links.active-link::after{
  width: 50%;
}

.about-col-2 p{
  text-align: justify;
  font-size: var(--step-1);
}
 
.tab-contents ul li{
 list-style-type: none;
 margin: 10px 0;
}

.tab-contents p{
  font-size: var(--step-1);
}
.tab-contents span{
color: #ff004f;
font-size: var(--step-1);
}
.tab-contents{
  display: none;
}
.bullet-form ul li{
margin-left: 30px;
 list-style-type:circle;
 font-size: var(--step-0);
}

#education a , #certification a{
margin-left: 30px;
font-size: var(--step-0);
}

.tab-contents.active-tab{
  display: block;
}

/* ------------------ portfolio section --------------- */
#portfolio{
  padding: 50px 0;
  
}
.work-list{
    display:grid;
     grid-template-columns: repeat(2, minmax(250px,1fr)); 
    /* grid-template-columns: repeat(1, minmax(250px,1fr)); */
    grid-gap: 40px;
    margin-top: 50px;
    /* border: 3px solid #ff004f; */
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  color: #fff;
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  /* transition: height 0.5s; */
  transition: transform 2s;
}

.layer h3{
  font-weight: 500px;
  margin-bottom: 10px;
}
.layer p{
  font-size: var(--step-0);
  margin-bottom: 10px;
}
.layer a{
  color: #ff004f;
  text-decoration: none;
  /* line-height: 60px; */
  line-height: var(--step-5);
  background-color: #fff; 
  /* width: 60px; */
  /* height: 60px; */
  width: var(--step-5);
  height:  var(--step-5);
  border-radius: 50%;
  text-align: center;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
  background: none;
}
.btn:hover{
 background: #ff004f;
 cursor: pointer;
}
p{
  color: #fff;
}
.section{
    display: none; 
}
/* ------------------ contact section --------------- */
.contact-left{
  flex-basis: 35%;
}
.contact-left p{
  margin-top: 20px;
}
.contact-left p i{
  color: #ff004f;
  margin-right: 10px;
}
.social-icons{
margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #fff;
  display: inline-block;
}

.social-icons a:hover{
  color: #ff004f;
}

.btn-1{
  display: inline-block;
  background: #ff004f;
}
.contact-right{
  flex-basis: 60%;
}
.contact-right form{
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: var(--step-0);
  border-radius: 6px;
}
form .btn-1{
  padding: 14px 60 px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  justify-content: center;
}
/* ------------------ copyright section --------------- */
.copy-right{
  width: 100%;
  text-align: center;
  padding: 30px;
  background-color: #262626;
  font-weight: 300px;
  margin-top: 20px;
  
}
.copy-right span{
color: #ff004f;
font-size: var(--step-1);
font-family: Blacksword;
}
.copy-right .white{
color: #fff;
font-size: var(--step-1);
font-family: Blacksword;
}
.copy-right p{
font-size:var(--step-0);
}
nav .fa-solid{
  display: none;
}
/* ------------------ css for medium screen --------------- */

@media only screen and (max-width: 1040px){
.work-list{
    grid-template-columns: repeat(2, minmax(250px,1fr));
}
.logo{
  width: 200px;
}

.about-col-1 img{
  width: max(50%, 50%);
  margin: auto;
  border-radius: 15px;
}
nav ul .fa-sharp{
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
}
img{
  display: block;
}
.about-col-1, .about-col-2{
  flex-basis: 100%;
}


.contact-left, .contact-right{
  flex-basis: 100%;
}
.btn-1{
  display:flex;
 ;
}

}
 
/* ------------------ css for small screen --------------- */

@media only screen and (max-width: 750px){
.work-list{
    grid-template-columns: repeat(1, minmax(250px,1fr));
}
.header-text h1{
  font-size: var(--step-4);
}
nav .fa-solid{
  position: fixed;
  display:block;
  right: 10vw;
  font-size: 25px;
}
.about-col-1 img{
  width: max(50%, 50%);
  margin: auto;
  border-radius: 15px;
}
nav ul{
  background: #ff004f;
  position: fixed;
  top: 0;
  right: -200px;
  width: 120px;
  height: 100vh;
  padding-top: 50px;
  z-index: 2;
  transition: right 0.5s;
}
nav ul li{
  display: block;
  margin: 20px;
}
nav ul .fa-sharp{
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
}

.sub-title{
  font-size: var(--step-5);
}
.about-col-1, .about-col-2{
  flex-basis: 100%;
}
.about-col-1{
  margin-bottom: 30px;
}
.about-col-1 img{
  width: 100%;
}

tab-links{
  margin-right: var(--step-1);
}
.contact-left, .contact-right{
  flex-basis: 100%;
}
.btn-1{
  display:flex;
 ;
}
.fa-bars{
  z-index: 1;
  color: #ff004f;
}
.fa-bars:hover{
color: #fff;
padding:5px;
background-color: #ff004f;
border-radius: 5px;
}
nav ul li a::after{
background: #000000;
}
.bullet-form ul li{
 font-size: var(--step-1);
}
.about-content{
 margin: 0 4%;
 font-size: 14px;
}
#education a , #certification a{
font-size: var(--step-1);
}
/*  */

/* -----------------about section----------------- */
#about{
  margin-top: 10%;
  padding: var(--step-0)  50px;
}
.tab-links{
margin-right: 10px;
}
}